<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klisly.iguilty"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:name="com.klisly.iguilty.ZuijzApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/zuijizhao"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.klisly.iguilty.BootstrapActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.klisly.iguilty.ui.MenuContainerActivity"></activity>
    </application>

</manifest>
